.DS_Store
.shadow-cljs/
.clj-kondo/
.lsp/
data/
node_modules/
package-lock.json
package.json
public/.DS_Store
public/target/
src/.DS_Store
src/sc

README.md.temp
docs/CV.html
docs/MAVA.mov
docs/MAVA2.mov
docs/MAVA_compress.mp4
docs/MAVA_final.mov
docs/MAVA_final2_compress.mp4
docs/MAVA_final_compress.mp4
docs/MAVApresentation.m4v
docs/MAVApresentation_rescale.m4v
docs/MA_1.m4a
docs/MA_10.m4a
docs/MA_11.m4a
docs/MA_12.m4a
docs/MA_2.m4a
docs/MA_3.m4a
docs/MA_4.m4a
docs/MA_5.m4a
docs/MA_6.m4a
docs/MA_7.m4a
docs/MA_8.m4a
docs/MA_9.m4a
docs/MAall.m4a
docs/MAall2.m4a
docs/MAall2_notice.m4a
docs/MAall_notice.m4a
docs/MAtrim_1.m4a
docs/MAtrim_10.m4a
docs/MAtrim_10_notice.m4a
docs/MAtrim_11.m4a
docs/MAtrim_12.m4a
docs/MAtrim_1_notice.m4a
docs/MAtrim_2.m4a
docs/MAtrim_3.m4a
docs/MAtrim_4.m4a
docs/MAtrim_5.m4a
docs/MAtrim_6.m4a
docs/MAtrim_7.m4a
docs/MAtrim_8.m4a
docs/MAtrim_9.m4a
docs/VA2all.mov
docs/VAall.mov
docs/VAall_compress.mp4
docs/output.mp4
docs/trash/
docs2/