{:dependencies [[cider/cider-nrepl "0.25.5"]
                [reagent "1.0.0-rc1"]
                [borkdude/sci "0.2.3"]
                [zprint "1.0.2"]
                [hiccups "0.3.0"]
                [sicmutils "0.16.0"]
                [jpmonettas/flow-storm "0.5.0"]]
 :source-paths ["src"]
 :dev-http {8080 ["public" "node_modules"]}
 :builds
 {:cljtiles {:target :browser
             :output-dir "public/target"
             :asset-path "/target"
             :compiler-options {:optimizations :simple}
             :modules {:main {:entries [cljtiles.view]}}}}}

;; npm init -y
;; npm install shadow-cljs
;; npm install blockly
;; npm install sax
;; npm install odex
;; npm install complex.js
;; npm install fraction.js
;; npm install mathjax@2
;; shadow-cljs watch cljtiles

;; shadow-cljs release cljtiles

;; clj -Sdeps '{:deps {jpmonettas/flow-storm-debugger {:mvn/version "0.6.0"}}}' -m flow-storm-debugger.main
